<dt class="pref-select {{ option_id }}" tabindex="0">
    <label for="{{ option_id }}-must"><i class="fa-regular fa-heart"></i></label>
    <input type="radio" id="{{ option_id }}-must" name="{{ option_id }}" value="must">
    <label for="{{ option_id }}-like"><i class="fa-regular fa-circle-check"></i></label>
    <input type="radio" id="{{ option_id }}-like" name="{{ option_id }}" value="like">
    <label for="{{ option_id }}-maybe"><i class="fa-regular fa-circle-question"></i></label>
    <input type="radio" id="{{ option_id }}-maybe" name="{{ option_id }}" value="maybe">
    <label for="{{ option_id }}-never"><i class="fa-regular fa-circle-xmark"></i></label>
    <input type="radio" id="{{ option_id }}-never" name="{{ option_id }}"
            value="never">
</dt>
