<dt class="pref-select {{ option_id }}" tabindex="{{ ns.tabindex }}">
    {% for which, _class in choice_label_classes.items() %}
    <label for="{{ option_id }}-{{ which }}" data-pref="{{ option_id }}" data-which="{{ which }}"><i
        data-pref="{{ option_id }}" data-which="{{ which }}"
        class="fa-regular {{ _class }}"></i></label>
    <input type="radio" id="{{ option_id }}-{{ which }}" name="{{ option_id }}" value="{{ which }}" data-pref="{{ option_id }}" data-which="{{ which }}">
    {% endfor %}
</dt>
{% set ns.tab_index = ns.tab_index + 1 %}