<dt class="pref-select {{ option_id }}" tabindex="0">
    <label id="{{ option_id }}-activator" for="{{ option_id }}-must"><input type="radio" id="{{ option_id }}-must" name="{{ option_id }}"
            value="must"><i class="fa-regular fa-heart"></i></label>
    <label for="{{ option_id }}-like"><input type="radio" id="{{ option_id }}-like" name="{{ option_id }}" value="like"><i
            class="fa-regular fa-circle-check"></i></label>
    <label for="{{ option_id }}-maybe"><input type="radio" id="{{ option_id }}-maybe" name="{{ option_id }}" value="maybe"><i
            class="fa-regular fa-circle-question"></i></label>
    <label for="{{ option_id }}-never"><input type="radio" id="{{ option_id }}-never" name="{{ option_id }}" value="never"><i
            class="fa-regular fa-circle-xmark"></i></label>
</dt>
