
html {
    /* 10px? */
    font-size: 62.5%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 4rem;
    font-size: 1.2rem;
}

a {
    color:rgb(173, 61, 173);
}
a:visited {
    color: grey;
}

dt {
    display: inline-flex;
    width: 5em;
}

dd.description {
    display: inline-flex;
    margin-left: 1rem;
    padding-left: 0;
}

#title {
    font-family: 'Merriweather', Georgia, serif;
    letter-spacing: 2px;
    color: rgb(32, 109, 176);
}

#personal-milestones {
    column-span: all;
    margin-top: 1.5rem;
}

p.description {
    font-family: 'Merriweather', Georgia, serif;
    font-weight: 300;
    margin: 1rem 1rem 2rem;
}

.worksheet {
    column-count: 3;
    column-gap: 2rem;
    column-fill: auto;
    /* grid-gap: 1.5rem; */
    width: fit-content;
}

.about-link {
    font-size: 1.2rem;
}

@media screen {
    /* layout */
    body {
        margin: 1rem;
    }

    .worksheet {
        column-count: 1;
    }

    dd {
        width: calc(100% - 6em);
    }

    /* appearance */
    body {
        font-size: 16px;
    }

}

@media screen and (min-width: 28rem) {
    .worksheet {
        column-count: 2;
    }

    /* dd {
        width: calc(100% - 9rem);
    } */
}

@media screen and (min-width: 60rem) {
    .worksheet {
        column-count: 3;
    }
    /* dd {
        width: calc(100% - 9rem);
    } */
}

@media print {
    /* us letter in points: 612 × 792 */
    body {
        font-size: 12pt;
    }
    .about-link {
        display: none;
    }
    .worksheet {
        width: 760pt;
        column-count: 3;
        /* height: 150em; */
        font-size: 12pt;
    }

    /* dd {
        width: calc(100% - 7rem);
    } */

    #title,
    p.description,
    .section h3,
    .term {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    #title {
        font-weight: normal;
    }
    .section h3 {
        background-color: white;
        color: rgb(28, 93, 114);
        font-weight: normal;
    }
}

.section {
    padding: 1rem;
    border: 1px solid rgb(170, 214, 227);
    /* background-color: rgb(195, 230, 241); */
    margin-bottom: 2rem;
    break-inside: avoid;
    font-size: 90%;
}

.section h3 {
    font-family: 'Merriweather', Georgia, serif;
    background-color: rgb(136, 201, 222);
    border-bottom: 4px solid rgb(55, 142, 171);
    color: white;
    padding: 1rem 1rem .5rem;
    margin: -1rem;
    margin-bottom: 1rem;
    font-size: 110%;
}

.preference {
    display: flexbox;
    height: fit-content;
    padding-top: 0.25rem;
    border-top: 1px solid #eee;
    margin-bottom: 4px;
}
.preference:first-child {
    padding-top: none;
    border-top: none;
}

#personal-milestones .preference .description {
    /* border-bottom: 2px solid lightgray; */
    width: calc(90% - 5rem);
}

.pref-select label {
    margin-right: .25rem;
}

.pref-select input {
    position: fixed;
    top: -1000px;
}

.pref-select i.fade {
    opacity: 0.35;
}

i.fa-heart {
    color: rgb(155, 38, 155);
}

i.fa-circle-check {
    color: green;
}

i.fa-circle-question {
    color: rgb(13, 126, 231);
}

i.fa-circle-xmark {
    color: rgb(240, 125, 10);
}

input.custom-description {
    border: none;
    width: 100%;
}

#about {
    margin: 2rem;
    font-size: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-style: italic;
    color: #888;
}
.key {
    margin: 1rem;
    font-size: 90%;
}

.term {
    font-family: 'Merriweather', Georgia, serif;
    text-transform: uppercase;
    margin: 0 0.5rem;
    color: #666;
}