{% extends 'base.html' %}

{% block content %}
    <p class="description about-link"><a href="./index.html">Back to the worksheet</a></p>

    <div id="about">
    <p>This worksheet is just a fancy copy of a worksheet first published on <a href="https://www.reddit.com/r/polyamory">r/polyamory</a> as the Non-Escalator Relationship Menu in <a href="https://www.reddit.com/r/polyamory/comments/pwkdxp/v3_relationship_components_menu_last_update_for/">this post</a>. I've just reformatted it and made it clicky.</p>
    <p>Contents © Copyright 2021 <strong>u/poly_jane</strong>.</p>
    </div>
{% endblock %}