{% extends 'base.html' %}

{% block content %}
    <p class="description about-link"><a href="./about.html">About this worksheet</a> | <a onclick="window.print()" href="#"><i class="fa fa-print"></i> Print the worksheet</a> | <a id="clear-form" href="#">Clear Worksheet</a></p>

    {% include 'partials/key.html' %}

    {% set ns = namespace(tab_index=4) %}
    <form id="nerm">
        <div class="section" id="user-info">
            <h3>About Me</h3>
            <label>Name:</label>
            <input type="text" id="name" placeholder="">
            <p>(for printing purposes)</p>
        </div>
        <div class="worksheet">
            {% for section_title, pref_options in preferences.items() %}
            <div class="section" id="{{section_title | kebab }}">
                <h3>{{ section_title }}</h3>
                <dl>
                    {% for option in pref_options %}
                    {% set option_id = option | kebab %}
                    <div id="{{ option_id }}" class="preference">
                        {% include 'partials/options.html' %}
                        <dd class="description">{{ option }}</dd>
                    </div>

                    {% endfor %}
                </dl>
            </div>
            {% endfor %}
            <div class="section" id="personal-milestones">
                <h3>PERSONAL MILESTONES</h3>
                <dl>
                    {% for option_n in range(0, 10) %}
                    {% set option_id = "custom-" + option_n | string %}
                    <div id="{{ option_id }}" class="preference">
                        {% include 'partials/options.html' %}
                        <dd class="description"><input type="text"
                            id="custom-{{ option_n }}-description"
                            name="custom-{{ option_n }}-description"
                            class="custom-description"
                            placeholder="Click to add your own..."/></dd>
                    </div>
                    {% endfor %}
                </dl>
            </div>
        </div>
    </form>
{% endblock %}